body {
    background-color: #fff9f3;
    font-family: sans-serif;
    left: 15%;
    right: 15%;
    max-width: 90%;
    margin: auto;
    overflow-x: hidden;
  }
  
  .navbar {
    background-color: #fff9f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 5%;
    right: 5%;
    max-width: 90%;
    margin: auto;
    padding: 50px 0;
    z-index: 1000;
}

.navbar div {
    flex: 1;
}

.navbar .left {
    text-align: left;
    
}

.navbar .center {
    text-align: center;
}

.navbar .right {
    text-align: right;
}

.navbar a {
    color: #333;
    font-size: 18px;
}

.styled-line {
    height: 1px;
    background-color: #ab8742;
    border: none;
    margin-top: 80px;
    position: fixed;
    top: 0;
    left: 5%;
    right: 5%;
}

/* Main Content */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: -2px;
    right: -2px;
    position: relative;
    margin: 200px auto;
    padding: 50px 0;
}

/* Text Content */
.text-content {
    color: #2c2c2c;
}

.text-content h1 {
    font-size: 80px;
    margin: 0;
}

.portfolio-online {
    font-size: 30px;
    font-weight: bold;
    color: #0e2302;
}

.portfolio-text {
    font-size: 60px;
    font-weight: bold;
    color: #404d38;
}

.presented {
    position: relative;
    margin-top: 200px;
    left: 3px;
    right: 3px;
}

.presented-title {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    color: #404d38;
}

/* Green Box */
.green-box {
    position: absolute;
    width: 400px;
    height: 370px;
    top: -35px;
    right: 5px;
    background-color: #404d38;
}

.image-container {
    position: absolute;
    width: 100%;
    top: -35px;
    right: -870px;
    z-index: 2;
}

.about {
    position: relative;
    width: 100%;
}

.aboutme-title {
    position: absolute;
    font-size: 55px;
    font-weight: bold;
    top: -55px;
    left: 600px;
    color: #404d38;

}

.about-content {
    width: 600px;
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    left: 600px;
    top: 50px;
    color: #414b3b;
    border: 1px;
    word-wrap: break-word;
}

.about-green-box {
    position: relative;
    width: 475px;
    height: 450px;
    background-color: #404d38;
    margin-top: -30px; 
    left: 100px;
}

.placeholder-container {
    position: absolute;
    top: -150px;
    right: 900px;
    left: 0;
    max-width: 100%;
    height: 100px;
    z-index: 2;
}

.what-i-do {
    position: relative;
    top: 100px;
    width: 100%;
}

.what-title {
    position: absolute;
    font-size: 55px;
    font-weight: bold;
    top: 0px;
    left: 0px;
    color: #404d38;
}

.what-title-h2 {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    top: 200px;
    left: 425px;
    color: #404d38;
}

.do-content {
    width: 400px;
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    top: 260px;
    left: 425px;
    color: #414b3b;
    word-wrap: break-word;
}

.todo-container {
    position: relative;
    top: 140px;
    left: 0;
    z-index: 2;
}

.whatodo-container {
    position: absolute;
    top: 100px;
    left: 910px;
    z-index: 2;
}

.do-green-box {
    position: relative;
    left: 0;
    width: 100%;
    top: 0;
    height: 350px;
    background-color: #8ca87c;
}

.projects {
    position: relative;
    top: 100px;
    width: 100%;
}

.portfolio-title {
    position: absolute;
    font-size: 55px;
    font-weight: bold;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff9f3;
    text-align: center;
    z-index: 10;
}

.portfolio-green-box {
    position: absolute;
    left: 0;
    width: 100%;
    top: 150px;
    height: 150px;
    background-color: #8ca87c;
}

.portfolio-line {
    height: 3px;
    background-color: #ab8742;
    border: none;
    margin-top: 80px;
    position: absolute;
    top: 250px;
    left: 3%;
    right: 3%;
}

.vertical-line {
    width: 2px; 
    height: 600px; 
    background-color: #ab8742;
    position: absolute; 
    left: 50%; 
    top: 330px;
}

.game-container {
    position: absolute;
    top: 370px;
    left: 40px;
    z-index: 2;
}

.hrhub-container {
    position: absolute;
    top: 370px;
    left: 720px;
    z-index: 2;
}

.portfolio-content {
    width: 600px;
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    top: 680px;
    left: 40px;
    color: #414b3b;
    word-wrap: break-word;
}

.portfolio-content-p2 {
    width: 600px;
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    top: 680px;
    left: 720px;
    color: #414b3b;
    word-wrap: break-word;
}